*{
    margin: 0;
    padding: 0;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    box-sizing: border-box;
    color:#fff;
    
}

.header{
    text-align: center;
    position: absolute;
    top: 0; left:0;right:0;
    padding:10px 0 ;
}
.header h1{
    font-size: 3rem;
    color: #303132;
}

.output  {
    display: flex;
    justify-content: flex-end;
    margin: 30px 0;
}

.output input[type="text"]{
    text-align: right;
    flex: 1;
    font-size: 35px;
    border: none;
    outline:none;
    box-shadow: none;


}

.container{
    width:100%;
    height:100vh;
    background-color: #97dda8;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 90px;
}

.calculator{
    background-color: #475355;
    padding: 10px;
    border-radius: 15px;
}

.calculator form input{
    border: 0;
    outline: 0;
    width: 80px;
    height: 60px;
    border-radius:15px ;
    box-shadow:-6px -6px 16px rgb(0, 0, 0,0.2) ;
    background: transparent;
    transition: background-color .2s, transform .15s;
    font-size: 25px;
    cursor: pointer;
    margin:10px;
}

.calculator form input[type="button"]{
    background-color: #303132;
}

.calculator form input:hover{
    scale:105%;
    background-color: #475360;
}

.calculator form input.zero{
    width: 185px;
}

@media (max-width:480px) {
    .calculator form input{
        width: 60px;
        height: 50px;
        font-size: 20px;
        margin:7px;
    }
    .calculator form input.zero{
        width: 135px;
    }
    .output input[type="text"]{
        font-size: 25px;
    }
    .header h1{
        font-size: 2rem;
    }
}
